{% extends "homepage.html" %}

{% block description %}
    <p></p>
{% endblock %}
{% block concepts %}
    <p></p>
{% endblock %}
{% block packages %}<p></p>{% endblock %}



{% block afternav %}

<h1>Resume Detail</h1>
<div>

<div class="resume_styles" style="width:30%;height:200px;margin-top: 20px;">
{% include "view_info_resume.html" %}
</div>
<h4 style="padding-left: 10px;">Style: {{resume.style}}</h4>


<div>
    <input type="submit" name="submit" value="Edit Resume / Change Style" onclick="window.location.href='/infographicsresume/edit/1'" style="font-size: 15px">
</div>



</div>



{% endblock %}



