{% extends "homepage.html" %}


{% block description %}
    <p>Resumes prepared using different styles (infographics). <br>Extracting date in appropriate format from the DateTime field.</p>
{% endblock %}
{% block concepts %}
    <p>Basic CSS styles, grid layout</p>
{% endblock %}
{% block packages %}<p>django.core.validators, django.views.generic</p>{% endblock %}



{% block afternav %}


<div>
    <div class="row">
        <h1>Infographic Resumes</h1>

    <div class="row">
            {% for resume in listresume %}

        <div class="col-xs-2" style="background-color: #e8e5e3; margin: 2px; height: 300px">

           <!-- <p>{{resume.firstname}} {{resume.lastname}}<br>
            DOB: {{resume.dateofbirth}} <br> Style: {{resume.style}}</p><br> -->
            <div class="resume_styles">
                {% include "view_info_resume.html" %}
            </div>

        </div>


            {% endfor %}
    </div>
</div>

</div>


{% endblock %}



