<style type="text/css">
    .style1{background-color: green;font-size: 20; font-family: "Times New Roman", Times, serif;font-weight: bold;}
    .style2{background-color: red;font-size: 10; font-style: oblique;}
    .style3{background-color: blue;font-size: 15;text-align: right}
    .style4{color: grey;font-size: 18; font-style: italic;}
    .style5{background-color: grey;font-size: 15; padding: 5px; font-weight: bold;}
    .style6{background-color: blue;font-size: 15; text-align: center}
    .style7{background-color: grey;font-size: 10; color: black; font-style: italic;}
    .style8{background-color: grey;font-size: 15; font-style: oblique;}
    .style9{background-color: grey;font-size: 15; text-align: left}
    .style10{background-color: blue;font-size: 12; font-style: italic; font-weight: bold;}

</style>




<div class="style{{resume.style}}">
<!-- inside sub HTML file.....{{forloop.counter}}
 -->
 <p>{{resume.firstname}} {{resume.lastname}}<br>
DOB:{{resume.dateofbirth | date:"D d M Y"}} <br> Style:{{resume.style}}</p>
</div>





