<style type="text/css">
    .style1{background-color: green;font-size: 20}
    .style2{background-color: red;font-size: 10}
    .style3{background-color: blue;font-size: 15;text-align: right}
    .style4{color: grey;font-size: 15}
    .style5{background-color: grey;font-size: 15; padding: 5px}
    .style6{background-color: blue;font-size: 15; text-align: center}
    .style7{background-color: grey;font-size: 10; color: black}
    .style8{background-color: grey;font-size: 15}
    .style9{background-color: grey;font-size: 15; text-align: left}
    .style10{background-color: blue;font-size: 12}

</style>




<div class="style{{resume.style}}">
<!-- inside sub HTML file.....{{forloop.counter}}
 -->
 <p>{{resume.firstname}} {{resume.lastname}}<br>
DOB:{{resume.dateofbirth}} <br> Style:{{resume.style}}</p>
</div>





