{% extends "homepage.html" %}



{% block afternav %}
<div class="container display_blogs">
      <div class="row centered">
<h1>Blog Detail</h1>



    <h3>{{blog.title}}</h3>
    <div class="col-md-10 col-md-offset-1" >
        <p style="float: right">{{blog.pub_date| date:"D d M Y"}}</p>
        <br>
    <p>{{blog.content | linebreaksbr}}</p>
    <!-- <p>created on: {{blog.created_date}}</p> -->

    </div>


</div>
<h3>
<a href="{% url 'blog:blog_edit' pk=blog.pk %}">Edit this</a>
</h3>
</div>



{% endblock %}



