{% extends "homepage.html" %}

{% block description %}
    <p>Contact Us page (Email). Date entered is validated and an intimation sent to the admin</p>
{% endblock %}
{% block concepts %}
    <p>Form input</p>
{% endblock %}
{% block packages %}
    <p>django.core.mail, django.shortcuts.redirect</p>
{% endblock %}



{% block afternav %}
<h1>Contact Us</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>


{% endblock %}



