django
django-geoposition==0.3.0
django-easy-maps==0.9.3
django-tables2==1.11.0
django-leaflet==0.22.0
django-geojson==2.10.0
djangorestframework==3.6.4
django-social-auth==0.7.28
social-auth-app-django==1.2.0
django-allauth==0.33.0
psycopg2==2.7.3.1
jsonfield==2.0.2
google==1.9.3
pandas==0.20.1
Pillow==4.2.1
django-widget-tweaks
