<html>
    <head><title>travelapp-base html</title></head>


<link rel="stylesheet" href='{{ STATIC_URL}} /static/bars-1to10.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap.min.js"></script>


    <body>
    <div class="row" style="height: 10px"></div>

<div class="container">

{#        {% include "homepage_navbar.html" %}   #}


    <!-- <div class="row" style="height: 50px"></div> -->


<!-- <div class="col-6 col-md-4" style="background-color: #FFC0CB"> -->


<div class="row" >
<div>



       {% if user.is_authenticated %}
            <p>Welcome..... {{ user.get_username }}</p>
        {% else %}
            <p>Welcome, Guest</p>
        {% endif %}




<ul class="nav nav-tabs">

    <li>
        <a href="{% url 'homepage' %}">Home page</a>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Account</a>
    <ul class="dropdown-menu">
        <li><a href="/admin/">Admin</a></li>


        <!-- TO FIX THIS -->
        <!-- <li><a href="/fortune_usergroups">usergroups-REST </a></li>
        <li><a href="/fortune_usergroups/users">users-REST </a></li>
        <li><a href="/fortune_usergroups/groups">groups-REST </a></li>
        <li><a href="/api-auth">users-rest auth</a></li> -->



        {% if user.is_authenticated %}
        <li><a href="/accounts/password/change/">Change Password </a></li>
        <li><a href="/accounts/email/">Email Settings</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/signup/">Sign Up</a></li>
        <li><a href="/accounts/password/reset/">Reset Password</a></li>
        {% endif %}
    </ul>
    </li>

    <li><a class="dropdown-toggle" data-toggle="dropdown" href="/infographicsresume/">Infographic CV</a>
        <ul class="dropdown-menu">
        <li><a href="/infographicsresume/list">List</a></li>
        <!-- <li><a href="{% url 'infographicsresume:list_resume' %}">CV-lists.. dynamic link</a></li> -->
        <li><a href="/infographicsresume/new">New</a></li>
        <li><a href="/infographicsresume/detail/1">Detail</a></li>
        <li><a href="/infographicsresume/edit/1">Edit</a></li>
        </ul>
    </li>


    <li><a class="dropdown-toggle" data-toggle="dropdown" href="/fortune/">Fortune 500</a>
            <ul class="dropdown-menu">
                <li><a href="/fortune/">Generic Views</a></li>
                <li><a href="/fortune/fortuneapi">REST API</a></li>



           </ul>
     </li>

<li><a class="dropdown-toggle" data-toggle="dropdown" href="/analysis/">Analysis</a>
    <ul class="dropdown-menu">
        <!-- <li><a href="/analysis/charts_func/">Charts func</a></li> -->
        <li><a href="/analysis/home_view/">Chart.js </a></li>
        <!-- <li><a href="/analysis/api/data/">API data</a></li> -->
        <li><a href="/analysis/api/charts/data/">REST framework</a></li>
    </ul>
 </li>
            <!-- <li><a href="/places/">places map (old)</a></li> -->

        <!-- <li><a href="/geo/">Geopositioning</a></li> -->

        <li><a class="dropdown-toggle" data-toggle="dropdown" href="/geomaps/">Geo</a>
        <ul class="dropdown-menu">
            <li><a href="/geo/">Positioning</a></li>
            <li><a href="/geomaps/reverse_geocoding">Reverse Geocoding</a></li>
            <!--<li><a href="/geomaps/shortlist">geo-shortlist</a></li>-->
            <li><a href="/geomaps/">Shortlist places</a></li>
            <!-- <li><a href="/geomaps/sorting_rubaxa">geo-rubaxa</a></li> -->
            <!-- <li><a href="/geomaps/directions">Find Directions</a></li> -->
        </ul>
        </li>

        <li><a class="dropdown-toggle" data-toggle="dropdown" href="/placesdata/">Travel Data</a>
          <ul class="dropdown-menu">
              <li><a href="/placesdata/places_scrapper">Scrap the web</a></li>
           </ul>
        </li>
        <li><a href="/contactus/">Contact Us</a></li>




 <!-- <li><a class="dropdown-toggle" data-toggle="dropdown" href="/blog/">Blog List..</a>
            <ul  class="dropdown-menu">
        <li><a href="/blog/">Blog List</a></li>
        <li><a href="/blog/1/">Blog Detail (1)</a></li>
        <li><a href="/blog/new/">Blog new</a></li>
            </ul>
</li>


<li><a class="dropdown-toggle" data-toggle="dropdown" href="/polls/">Polls index</a>
    <ul class="dropdown-menu">
        <li><a href="/polls/">Polls list</a></li>
        <li><a href="/polls/detail/1">Polls detail</a></li>
        <li><a href="/polls/vote/1">Polls vote</a></li>
        <li><a href="/polls/result/1">Polls result</a></li>
    </ul>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/opinions/">opinions index</a>
    <ul class="dropdown-menu">
        <li><a href="/opinions/">opinions list</a></li>
        <li><a href="/opinions/1/detail">opinions detail</a></li>
        <li><a href="/opinions/1/vote">opinions vote</a></li>
        <li><a href="/opinions/1/result">opinions result</a></li>
    </ul>
</li>
 -->

</ul>





<div class="col-12 col-md-11" style="background-color: #FFC0CB">
<ul class="nav nav-tabs" id="pol_opi_blo">
    <li><a data-toggle="tab" href="#opinions">Opinions</a></li>
    <li><a data-toggle="tab" href="#polls">Polls</a></li>
    <li><a data-toggle="tab" href="#blog">Blog</a></li>
</ul>

<div class="tab-content">
    <div id="opinions" class="tab-pane ">
    <ul class="nav nav-tabs">
    <li><a href="/opinions/">opinions index</a></li>
        <li><a href="/opinions/">opinions list</a></li>
        <li><a href="/opinions/1/detail">opinions detail</a></li>
        <li><a href="/opinions/1/vote">opinions vote</a></li>
        <li><a href="/opinions/1/result">opinions result</a></li>
    </ul></div>



    <div id="polls" class="tab-pane ">
        <ul class="nav nav-tabs">
    <li><a href="/polls/">Polls index</a></li>
        <li><a href="/polls/">Polls list</a></li>
        <li><a href="/polls/detail/1">Polls detail</a></li>
        <li><a href="/polls/vote/1">Polls vote</a></li>
        <li><a href="/polls/result/1">Polls result</a></li>
    </ul></div>


    <div id="blog" class="tab-pane ">
    <ul class="nav nav-tabs">
    <li><a href="/blog/">Blog List..</a></li>
        <li><a href="/blog/">Blog List</a></li>
        <li><a href="/blog/1/">Blog Detail (1)</a></li>
        <li><a href="/blog/new/">Blog new</a></li>
    </ul></div>
</div>



</div>
</div>
</div>









    <div class="row" style="height: 10px"></div>

<div>

        <div>
            <div class="row" style="height: auto">

            <div class="col-12 col-md-6" style="border: 2px solid blue;margin: 5px; height:100px">
            <h4>Description:</h4>
            {% block description %}{% endblock %}
            </div>
            <div class="col-12 col-md-3" style="border: 2px solid blue;margin: 5px; height:100px">
            <h4>Concepts:</h4>
            {% block concepts %}{% endblock %}
            </div>
            <div class="col-12 col-md-2" style="border: 2px solid blue;margin: 5px; height:100px">
            <h4>Packages Used:</h4>
            {% block packages %}{% endblock %}
            </div>

            </div>


        </div>

<!-- <div class="col-12 col-md-8"> -->
{% block afternav %}{% endblock %}
</div>

</div>
</div>


</div>

<!-- todo:

    placesdata:scrap errors,
    usergroups,
    directions   ,
    googlesocial(site_id)
    desc/cont/pkg for all
    fortune:desc/con/pkg
    debug=false (static files??)

   -->


    </body>
</html>
