{% extends "homepage.html" %}


{% block description %}
    <p>This website is designed with focus on learning various aspects of Django Programming. Each subsection hence works like an independent concept.</p>
{% endblock %}
{% block concepts %}
    <p>Ex: Generics views, REST API etc</p>
{% endblock %}
{% block packages %}
    <p>Django related, JS+JQuery, basic python data analysis, web crawlers etc</p>
{% endblock %}



{% block afternav %}
<h3>Welcome to TravelApp website!!</h3>


{% endblock %}