<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CfeApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico"><!-- index.html -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.f73e0a8230df858a1154.bundle.css" rel="stylesheet"/>
</head>
<body>
    <app-root>Loading...</app-root>
</body>
</html>

<script type="text/javascript" src="inline.1346e670e29c898ac93e.bundle.js"></script>
<script type="text/javascript" src="polyfills.ad37cd45a71cb38eee76.bundle.js"></script>
<script type="text/javascript" src="main.a3547cfcdb1f47490a48.bundle.js"></script>