
  <div class="jumbotron">

    <div class="container">


    <div class="row">

       <div class="col-sm-12">

       <carousel class="text-center">
            <slide *ngFor='let imageObj of homeImageList'>
              <a class="btn btn-default" routerLink="/trips/{{imageObj.slug}}" routerLinkActive="active" (click)='preventNormal($event,imageObj)'>
                <img class="img-main-carousel" [src]='imageObj.image' alt="First slide" style="display: block; width: 100%;"></a>
                <div class="carousel-caption">
                  <!-- <h3>{{imageObj.name}}</h3> -->
                  <a class="btn btn-default" routerLink="/trips/{{imageObj.slug}}" routerLinkActive="active">{{imageObj.name}}</a>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>