{% extends "base_geomaps_basic.html" %}


{% block mapinit %}

    <form>

      <div class="location">
        <input class="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
        <input class="find" type="button" value="find" />

        <fieldset class="details">
          <h3>Address-Details</h3>


          <label>Latitude</label>
          <input name="lat" type="text" value="">

          <label>Longitude</label>
          <input name="lng" type="text" value="">


        </fieldset>
      </div>

      <div class="location">
        <input class="geocomplete" type="text" placeholder="Type in an address" value="Eiffel Tower" />
        <input class="find" type="button" value="find" />

        <fieldset class="details">
          <h3>Address-Details</h3>

          <label>Latitude</label>
          <input name="lat" type="text" value="">

          <label>Longitude</label>
          <input name="lng" type="text" value="">


        </fieldset>
      </div>

    </form>


    <script>
      $(function(){
        $(".geocomplete").geocomplete({
          details: ".details",
          detailsScope: '.location',
          types: ["geocode", "establishment"],
        });

        $(".find").click(function(){
          $(this).parents(".location").find(".geocomplete").trigger("geocode");
        });
      });
    </script>



{% endblock mapinit %}