{% extends "homepage.html" %}
{% block afternav %}


{% load easy_maps_tags %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>



<h1>Saibaba!!!... Geo-Positioning</h1>

<form method="POST" action="">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
</form>


{% block content %}{% endblock %}


<h2>welcome.html done.. above..</h2>
    {% with 640 as w and 480 as h and 12 as z and "easy_maps/map.html" as t  %} 
      {% easy_map "Ekaterinburg, Mira 33" w h z using t %} 
    {% endwith %}
<h2>map (with) done.. above..</h2>


{% endblock %}



