{% extends "homepage.html" %}
{% block afternav %}




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>



<h3>Geo-Positioning Travel Spots</h3>

<form method="POST" action="">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
</form>

{% block description %}
      <p>Map#1: is developed using the Leaflet package. Travel locations are marked by click and drag (through admin portal) and displayed here. Details of the places are shown in a pop up. <br>Map#2: The second map is developed using Easy_maps package. It is used to fix a static location</p>
  {% endblock %}

  {% block concepts %}
      <p>Geo tagging</p>
  {% endblock %}

  {% block packages %}
      <p>django-leaflets, easy_maps</p>
  {% endblock %}


{% block content %}{% endblock %}




{% endblock %}



