{% extends "geo_incl_query.html" %}

{% block map_query_results %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}



<br><br>
<h2>following is feature popup<br><br></h2>
<script type="text/javascript">
  var collection = {{ qs_results|geojsonfeature:"popupContent"|safe }};

  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent);
    }
    console.log("inside on_eachfeature");
  }

  function map_init(map, options) {
    L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);
    console.log("inside map_init bottom");

  }
</script>
   {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}
