{% extends "homepage.html" %}



{% block description %}
    <p>Used Django inbuilt class based views (generic) </p>
{% endblock %}
{% block concepts %}
    <p>Generic views</p>
{% endblock %}
{% block packages %}
    <p>django.views.generic, django.template.loader</p>
{% endblock %}




{% block afternav %}

<h1>List of Opinions</h1>
<div>
    {% if opinions %}
    {% for opinion in opinions %}

    <a href="{% url 'opinions:opinions_detail' pk=opinion.pk %}">
        <h3>{{opinion.question}}</h3></a>
    <!-- <a href="{% url 'opinions:opinions_vote' pk=opinion.pk %}"><p>Vote</p></a> -->

    {% endfor %}


    {% else %}
    <h3>No opinions available</h3>
    {% endif %}

</div>


{% endblock %}



