{% extends "homepage.html" %}
{% block afternav %}


{% load staticfiles %}




       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }} /static/styles.css"/>


    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.geocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/logger.js"></script>









    <form>
      <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
      <input id="find" type="button" value="find" />

      <fieldset>
        <label>Latitude</label>
        <input name="lat" type="text" value="">

        <label>Longitude</label>
        <input name="lng" type="text" value="">

        <label>Formatted Address</label>
        <input name="formatted_address" type="text" value="">
      </fieldset>
    </form>

<script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form ",
          markerOptions: {
            draggable: true
          }
        });

        $("#geocomplete").bind("geocode:dragged", function(event, latLng){
          $("input[name=lat]").val(latLng.lat());
          $("input[name=lng]").val(latLng.lng());
          $("#reset").show();
        });


        $("#reset").click(function(){
          $("#geocomplete").geocomplete("resetMarker");
          $("#reset").hide();
          return false;
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        }).click();
      });
    </script>

    <p>before maps</p>
    <div class="map_canvas"></div>
<p>after maps</p>


{% endblock afternav %}