{% extends "homepage.html" %}
{% block afternav %}



    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }} /static/styles.css"/>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCHYjIn-8XQ_C0X8PfCrgNiRR-BgNBB0Vs&sensor=false&libraries=places"></script>

    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.geocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/logger.js"></script>









    <form>
      <input id="geocomplete" type="text" placeholder="NewYork" size="90" />
      <input id="find" type="button" value="find" />

      <fieldset>
        <label>Latitude</label>
        <input name="lat" type="text" value="" id="lat_val">

        <label>Longitude</label>
        <input name="lng" type="text" value="" id="lng_val">

        <label>Location</label>
        <input name="location" type="text" value="" id="location_val">

        <label>PlaceId</label>
        <input name="place_id" type="text" value="" id="placeid_val">

        <label>Formatted Address</label>
        <input name="formatted_address" type="text" value="" id="address_val">

        <label>Site Label</label>
        <input name="formatted_address" type="text" value="" id="sitelabel_val">

      </fieldset>
    </form>



<script>

   var site_latlng={lat:9.9,lng:8.8};

// $('#sitelabel_val').change(function() {
//    alert("textbox changed");
//    document.getElementById("sitelabel_val").value=document.getElementById("sitelabel_val").value;
// });



      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form ",
          markerOptions: {
            draggable: true
          }
        });


        $("#geocomplete").bind("geocode:dragged", function(event, latLng){
          $("input[name=lat]").val(latLng.lat());
          $("input[name=lng]").val(latLng.lng());
          //alert(latLng.lat());
          //alert("modified ..");
          // site_latlng.lat=latLng.lat();
          // site_latlng.lng=latLng.lng();

          $("#reset").show();

        });





        $("#reset").click(function(){
          $("#geocomplete").geocomplete("resetMarker");
          $("#reset").hide();
          return false;
        });

      //alert("modified lat");


        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");

        }).click();
      });
    </script>

    <p>before maps</p>
    <div class="map_canvas"></div>
<p>after maps</p>

{% block mapinit %}
{% endblock mapinit %}



{% endblock afternav %}