<div class ="shortlisted_display_class" id="display_shortlisted">


<form id="ordering">
    {% csrf_token %}
    <div>
        {% for shortlist in shortlisted %}
        <p>{{ forloop.counter }}   - [{{ shortlist.order }}] {{ shortlist.sitelabel}} : {{ shortlist.lat }},   {{ shortlist.lng }}  </p>

        <div class="site_order_change">
            <input type="submit" name="up" id="site_moveup_{{forloop.counter}}" value="move up" class="site_moveup">
            <input type="submit" name="down" id="site_movedown_{{forloop.counter}}" value="move down"  class="site_movedown">
            <input type="submit" name="delete" id="site_delete_{{forloop.counter}}" value="delete"  class="site_delete">
        </div>

        {% endfor %}
    </div>
</form>


<input type="submit" name="site_check" value="check" id="check_button">



<script>

        var onChangeHandler = function(e) {
            var t=e.target;
            while(t && !t.id) t = t.parentNode;
            // if( t) {
            //     alert("You clicked element #"+t.id);
            // }

            e.preventDefault();
            $.ajax({
            type:"POST",
            url:"/geomaps/ordering",
            data:{
                pressed_button:t.id,
                //pk=16,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },

            success:function(){
                $("#shortlisted").load("display_shortlisted.html #display_shortlisted");
            }

        });   // end of $.ajax













//        remove_entry(t.id);
        };

        document.getElementById("check_button").addEventListener("click", onChangeHandler);
        $(document).on("click",".site_moveup",onChangeHandler);
        $(document).on("click",".site_movedown",onChangeHandler);
        $(document).on("click",".site_delete",onChangeHandler);



        function remove_entry() {
        alert("success!!");

      }







</script>




</div>
