{% extends "homepage.html" %}


{% block afternav %}
{% load staticfiles %}


<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/Chart.min.js"></script>



<script>


    $(document).ready(function(){
        {% block jquery %}
        {% endblock jquery %}
    })
</script>

<!-- <h1>analysis base html loaded</h1> -->

<div class="container">
    <div class="col-sm-12">
     {% block content %}
     {% endblock content %}
    </div>
</div>

{% endblock %}
