{% extends "homepage.html" %}
{% block afternav %}


{% load easy_maps_tags %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.js"></script>


<h1>Saibaba!!!... Geo-Maps</h1>

<form method="POST" action="">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
</form>


{% block content %}{% endblock %}




{% endblock %}



