.full_page{
    /*background: #98AFC7; *//* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#56A5EC, #ff80df); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#56A5EC, #ff80df); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#56A5EC, #ff80df); /* For Firefox 3.6 to 15 */*/*/*/
    background: linear-gradient(#56A5EC, #ff80df);
    /*height: 100%;*/
}

.h3{
    color: black; font-family:"Times New Roman", Georgia, Serif;
}
.nav-tabs{
    border-bottom: 0px;
    margin: -20px -15px;
    border-radius: 10px;
    /*padding: 0px 15px;*/
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
}
.center_col{
    float: none;
    display: block;
    margin: 0 auto;
}


.welcome>h3{
    font-family: cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.nav>li>a{
    font-size: 20;color: black;align-items: center;
    border: 2px solid black; border-radius: 10px;
    background-color: #FAD4F0;

}

.content_frame{
    background-color: #FAD4F0;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
    /*height: auto;*/
}

.content_frame>div>div{
    /*border: 2px solid blue;*/
    margin: 5px;
    height:auto;
}

.container{
    height: auto;
}
.col-container {
    display: table;
    border-spacing:10px;
    width: 100%;
}

.col {
    display: table-cell;
}
.col1{width:55%;}
.col2{width:30%;}
.col2{width:25%;}

.tab-pane>ul>li>a{
    background-color: #FAD4E0;
}
/** { border: 1px solid red; }*/

.display_blogs{} .display_blogs>h1{text-align: center;}
.display_blogs>h2>a{border: 2px solid #56A5EC; border-radius: 5px; padding: 5px;}
.display_blogs>h2,h3{text-align: center;}
.display_blogs>p{text-align: center;}
/*.display_blogs>h3{text-align: center;}*/

.options{
    font-size: 20px;

    float:left;
}

.votes{
    font-size: 35px;
    /*text-align: center;*/
    vertical-align: middle;
    display: table-cell;
    /*float: right;*/
}

#opi_vote{
    /*display: flex;  */
    align-items: center;
    justify-content: center;}