{% extends "homepage.html" %}



{% block afternav %}

<h1>Cv detail</h1>
<div>
<p>{{resume.firstname}} {{resume.lastname}}
was born on {{resume.dateofbirth}} and prefers style {{resume.style}}</p>


<!-- <form id="edit_resume">
{% csrf_token %}
<div>
    <input type="submit" name="submit" value="edit style" onclick="window.location.href='edit_resume'">
</div>
</form>
 -->


<div>
    <input type="submit" name="submit" value="edit style" onclick="window.location.href='/infographicsresume/edit/1'">
</div>


<div class="resume_styles">
    {% include "view_info_resume.html" %}
</div>

</div>




<!-- <script type="text/javascript">
$(document).on("submit","#edit_resume",function(e){
    $.ajax({
        type:"POST",
        url:"/infographicsresume/edit_resume",
        data:{



        }

    });

});

</script> -->

{% endblock %}



